@media screen and (max-width:420px){
  #hover-infoA {
    top: -30px;
    left: -115px;
    font-size: 7px;
  }
  
  #hover-infoA::after { 
    /* tail */
    right: -12px;
  }
  /* --------------- ------------------ */
  #hover-infoB { 
    top: -30px;
    left: -100px;
    font-size: 8px;
  }
  
  #hover-infoB::after { 
    /* tail */
    right: -12px;
  }
  /* ------------------------ */
  
  #hover-infoC {
    top: -30px;
    left: -100px;
    font-size: 8px;
  }
  #hover-infoC::after { 
    /* tail */
    right: -12px;
  }
}