/*----- custom colors -----*/
:root {
  /* CSS HEX */
--pullman-brown-ups-brown: #5b3000ff;
--van-dyke-brown: #66462cff;
--french-bistre: #726953ff;
--xanadu: #76877dff;
--pewter-blue: #82a6b1ff;
--paper-white: #fefeff;

}

/* font-family: 'Gloria Hallelujah', cursive; */
/* font-family: 'Playfair Display SC', serif; */

/* -----------------HTML CONTAINER TAGS content styling-------------------*/

body {
  text-align:center;
  background: url(images/Open_book_bottom.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#root_container {
  display:flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgb(178, 131, 47);
  /* text-shadow: 2px 2px  #888; */
}
#search-container {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  /* cssgradient.io */
  background: rgb(114,105,83);
  background: -moz-linear-gradient(90deg, rgba(114,105,83,0) 0%, rgba(114,105,83,1) 34%, rgba(114,105,83,1) 65%, rgba(114,105,80,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(114,105,83,0) 0%, rgba(114,105,83,1) 34%, rgba(114,105,83,1) 65%, rgba(114,105,80,0) 100%);
  background: linear-gradient(90deg, rgba(114,105,83,0) 0%, rgba(114,105,83,1) 34%, rgba(114,105,83,1) 65%, rgba(114,105,80,0) 100%);
  border-radius: 10px;
  border-style: none;

}

label, input, button {
  /* position:relative; */
  font-family: 'Gloria Hallelujah', cursive;
}

#chord {
  margin-left: -5px
}

label {
  font-weight: bolder;
  /* font-size: 20px; */
}

.row {
  margin: 10px auto;

}

/* ---------- LABELS ---------------- */
strong {
  text-shadow: 1px 1px rgb(178, 131, 47);
  /* background-color: rgba(256,180,156,0.4);
  padding: auto */
}
#infoA  {
  position:relative;
  cursor: pointer;
  
}

#infoB  {
  position:relative;
  cursor: pointer;
}

#infoC {
  position:relative;
  cursor: pointer;
}

li {
  cursor: pointer;
}
/* --------------------the MODAL styling -------------------  */
/* inital code from w3cschools.com
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center
}

li {
 list-style-type: none;

}

/* Modal Content */
.modal-content {
  /* code adapted from cssgradient.io */
  background: rgb(114,105,83);
  background: -moz-linear-gradient(90deg, rgba(114,105,83,0) 0%, rgba(114,105,83,1) 25%, rgba(235,232,156,1) 50%, rgba(114,105,83,1) 75%, rgba(114,105,80,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(114,105,83,0) 0%, rgba(114,105,83,1) 25%, rgba(235,232,156,1) 50%, rgba(114,105,83,1) 75%, rgba(114,105,80,0) 100%);
  background: linear-gradient(90deg, rgba(114,105,83,0) 0%, rgba(114,105,83,1) 25%, rgba(235,232,156,1) 50%, rgba(114,105,83,1) 75%, rgba(114,105,80,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#726953",endColorstr="#726950",GradientType=1);
  margin: auto;
  padding: 20px;
  width: 80%;
}

#inside-modal{
  max-width: 350px;
  max-height: 500px;
  /* overflow-x: hidden; */
  overflow-y: auto;
  text-align: center;
  padding: 2px;
  margin: 0 auto;
}
/* .rhymes {
  display: none;
} */
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* ----------------- POP UP BUBBLES -------------------- */
/* -----TEXT AREA -----------*/
textarea {
 
  display:flex;
  justify-content: center;
  margin : 10px auto;
  height: 300px;
  width: 65%;
  max-width: 500px;
  border-radius: 10px;

}


#message-area {
  background-color: seashell;
  max-width: 500px;
  width:fit-content;
  border-width: 5px;
  margin: 0 auto;
  border-radius: 5px;
}

/*------bubble prompts in search container -------------- */
.bubble {
  margin: 0 auto;
}

#hover-infoA {
	position: absolute;
	display: "none";
  transition: 1s; 
  font-size: 15px;
  top:-50px;
  left: -250px;
  color: rgba(256,256,156,0);
  padding: 10px;
  border-radius: 60px;
}

#hover-infoA::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
  border-right: 0;
  transition: 1s; 
  /* tail */
  right: -18px;
  /* bottom: -30px; */
  top: 50%;
  /* left: 50%; */
  margin-top: -20px;
  /* margin-left:-20px */
}

#infoA:hover > #hover-infoA{
  cursor: pointer;
  display: "block";
  transition: 1s;
  background-color: rgba(256,256,256);
  color: rgb(0,0,0)
}

#infoA:hover > #hover-infoA::after{
  cursor: pointer;
  display: "block";
  transition: 1s;
  border-left-color: rgb(256,256,256);
  /* border-top-color: rgb(256,256,256); */
  color: rgb(0,0,0)
}
/* --------------- ------------------ */
#hover-infoB {
	position: absolute;
	display: "none";
  transition: 1s; 
  font-size: 15px;
  top: -50px;
  left: -200px;
  color: rgba(256,256,156,0);
  padding: 10px;
  border-radius: 60px;
}

#hover-infoB::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
  border-right: 0;
  transition: 1s; 
  /* tail */
  right: -18px;
  top: 50%;
  margin-top: -20px;
}

#infoB:hover > #hover-infoB{
  cursor: pointer;
  display: "block";
  transition: 1s;
  background-color: rgb(256,256,256);
  color: rgb(0,0,0)
}

#infoB:hover > #hover-infoB::after{
  cursor: pointer;
  display: "block";
  transition: 1s;
  border-left-color: rgb(256,256,256);
  color: rgb(0,0,0)
}

/* ------------------------ */

#hover-infoC {
	position: absolute;
	display: "none";
  transition: 1s; 
  font-size: 15px;
  top:-50px;
  left: -200px;
  color: rgba(256,256,156,0);
  padding: 10px;
  border-radius: 60px;
}

#hover-infoC::after {
  position: absolute;
  content: '';
  border: 20px solid transparent;
  border-right: 0;
  transition: 1s; 
  /* tail */
  right: -16px;
  top: 50%;
  margin-top: -20px;
}

#infoC:hover > #hover-infoC{
  cursor: pointer;
  display: "block";
  transition: 1s;
  background-color: rgb(256,256,256);
  color: rgb(0,0,0)
}

#infoC:hover > #hover-infoC::after{
  cursor: pointer;
  display: "block";
  transition: 1s;
  border-left-color: rgb(256,256,256);
  color: rgb(0,0,0)
}


/* -------loading----------*/
.loading {
    display: "none";
    width: 30px;
    height: 30px;
    background-color: rgb(149, 157, 81);
    position: relative;
    margin-left: 55px;
    border-radius: 100px;
    animation-name: ballRoll;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* transition: 1s; */
}
@keyframes ballRoll {
  0%   {
    background-color: rgb(199, 148, 101);
    left: 0px
  }
  17%  {
    background-color: rgb(199, 148, 101);
    left: 75px
  }
  34%  {
    background-color: rgb(199, 148, 101);
    left: 150px}
  50% {
    background-color: rgb(191, 182, 88);
    left: 225px;
  }
  67%  {
    background-color: rgb(199, 148, 101);
    left: 150px
  }
  84%  {
    background-color: rgb(196, 166, 103);
    left: 75px
  }
  100%  {
    background-color: rgb(191, 182, 88);
    left: 0px
  }

}

footer {
  position:absolute;
  bottom:0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  font-size:12px;
}

/* -----------------MEDIA QUERIES -----------------*/
/*----TABLETS-----*/
@media screen and (max-width:820px) {
  #hover-infoA {
    font-size: 11px;
    top:-40px;
    left: -175px;
  }

  #hover-infoA::after {
    right: -16px;
  }

  #hover-infoB {
    font-size: 13px;
    top:-50px;
    left: -165px;
  }

  #hover-infoB::after {
    right: -16px;
  }

  #hover-infoC {
    font-size: 13px;
    top:-50px;
    left: -165px;
  }

  #hover-infoC::after {
    right: -16px;
  }

}
/* ---- phone screens ----------*/
@media screen and (max-width: 640px) {
  textarea {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  
  label, input, button {
    font-size:10px;
  }
  #hover-infoA {
    top: -30px;
    left: -100px;
    font-size: 7px;
  }
  
  #hover-infoA::after { 
    /* tail */
    right: -12px;
  }
  /* --------------- ------------------ */
  #hover-infoB { 
    top: -30px;
    left: -85px;
    font-size: 8px;
  }
  
  #hover-infoB::after { 
    /* tail */
    right: -12px;
  }
  /* ------------------------ */
  
  #hover-infoC {
    top: -30px;
    left: -85px;
    font-size: 8px;
  }
  #hover-infoC::after { 
    /* tail */
    right: -12px;
  }
  footer {
    font-size: 10px
  }
}


@media screen and (max-width: 420px) {
  #hover-infoA {
    top: -30px;
    left: -55px;
    font-size: 7px;
  }
  
  #hover-infoA::after { 
    /* tail */
    right: -12px;
  }
  /* --------------- ------------------ */
  #hover-infoB { 
    top: -30px;
    left: -45px;
    font-size: 8px;
  }
  
  #hover-infoB::after { 
    /* tail */
    right: -12px;
  }
  /* ------------------------ */
  
  #hover-infoC {
    top: -30px;
    left: -45px;
    font-size: 8px;
  }
  #hover-infoC::after { 
    /* tail */
    right: -12px;
  }
  textarea {
    height: 200px;
    font-size:10px;
  }
  
  footer {
    font-size: 6px
  }
}